:root {
    --background-color: #fff;
    --paper-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.1);

    --white-color: #fff;
    --gray-color: #ccc;
    --black-color: #000;

    --purple-color: #6f42c1;
    --primary-color: #007bff;
    --secondary-color: #49a1ff;
    --secondary-light-color: #49a1ff20;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

main {
    /* A4 paper */
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--paper-color);
    box-shadow: 0 0 10px var(--shadow-color);

    display: grid;
    place-content: center;
    gap: 20px;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
}

#basic-info {
    grid-column: 1 / 3;
    grid-row: 2;
}

#commit-map {
    grid-column: 1 / 3;
    grid-row: 3;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 10px var(--shadow-color);
}

#trending {
    grid-column: 1 / 3;
    grid-row: 4;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 10px var(--shadow-color);
}

#commit-activity {
    grid-column: 1;
    grid-row: 5;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 10px var(--shadow-color);
}

#preferences {
    grid-column: 2;
    grid-row: 5;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 10px var(--shadow-color);
}

#footer {
    grid-column: 1 / 3;
    grid-row: 6;
}

h1 {
    margin: 0;
    text-align: center;
    background: linear-gradient(to bottom, var(--black-color) 20%, var(--primary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 10px;
}

#basic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#basic-info .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#basic-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#basic-info .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

#basic-info .name h2 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}

#basic-info .name p {
    margin: 0;
    color: var(--gray-color);
    font-size: 24px;
}

#basic-info .info {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

#basic-info .info p {
    margin: 0;
    color: var(--purple-color);
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

#basic-info .info span {
    background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
}

#commit-map {
    display: grid;
}

#commit-map h3 {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    color: var(--purple-color);
}

#commit-map table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white-color);
}

#commit-map table tr {
    height: 15px;
}

#commit-map table td {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 15px;
}

#commit-map div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    margin-top: 10px;
}

#commit-map div p {
    text-align: center;
    color: var(--purple-color);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#commit-map div span {
    background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}

#trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 10px;
}

#trending h3 {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    color: var(--purple-color);
}

#trending p {
    text-align: center;
    color: var(--secondary-color);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

#trending span {
    background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}

#commit-activity {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px 0;
}

#commit-activity>div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
}

#commit-activity svg {
    width: 40px;
    height: 40px;
    fill: var(--gray-color);
}

#commit-activity span {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: var(--purple-color);
}

#commit-activity p {
    margin: 0;
    background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 64px;
    font-weight: 900;
    text-align: right;
}

#preferences {
    width: 490px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    place-content: center;
}

#preferences .brief {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px 0;
}

#preferences .brief num {
    margin: 0;
    background: linear-gradient(to bottom, var(--primary-color) 50%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;
}

#preferences .brief span {
    margin: 0;
    color: var(--purple-color);
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

#preferences .detail {
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    gap: 10px;
    width: 100%;
    height: fit-content;
}

#preferences .detail span {
    font-size: 16px;
    color: var(--secondary-color);
    text-align: right;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#preferences .detail span.first {
    color: var(--primary-color);
    transform: scale(1.2) translateX(-10px);
}

#preferences .detail progress {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

#preferences .detail progress::-webkit-progress-bar {
    background: transparent;
}

#preferences .detail progress::-webkit-progress-value {
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color) 50%);
}

#preferences .detail progress::-moz-progress-bar {
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color) 50%);
}

#footer {
    margin: 20px auto 0 auto;
    text-decoration: none;
    color: var(--gray-color);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#footer svg {
    width: 20px;
    height: 20px;
    fill: var(--gray-color);
}

#footer p {
    margin: 0;
    color: var(--gray-color);
    font-size: 14px;
    font-style: italic;
}