<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/static/style/loading.css">
</head>

<body>
    <h1>My GitHub 2024</h1>
    <form id="inputForm">
        <label for="accessToken">Access Token</label>
        <input type="text" id="accessToken" name="accessToken">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="timezone">Timezone</label>
        <select id="timezone" name="timezone">
            <option value="Africa/Johannesburg">Africa/Johannesburg</option>
            <option value="America/Chicago">America/Chicago</option>
            <option value="America/Los_Angeles">America/Los_Angeles</option>
            <option value="America/Mexico_City">America/Mexico_City</option>
            <option value="America/New_York">America/New_York</option>
            <option value="America/Sao_Paulo">America/Sao_Paulo</option>
            <option value="Asia/Dubai">Asia/Dubai</option>
            <option value="Asia/Hong_Kong">Asia/Hong_Kong</option>
            <option value="Asia/Kolkata">Asia/Kolkata</option>
            <option value="Asia/Shanghai" selected>Asia/Shanghai</option>
            <option value="Asia/Singapore">Asia/Singapore</option>
            <option value="Asia/Tokyo">Asia/Tokyo</option>
            <option value="Australia/Sydney">Australia/Sydney</option>
            <option value="Europe/Berlin">Europe/Berlin</option>
            <option value="Europe/London">Europe/London</option>
            <option value="Europe/Moscow">Europe/Moscow</option>
            <option value="Europe/Paris">Europe/Paris</option>
            <option value="Europe/Rome">Europe/Rome</option>
            <option value="Pacific/Auckland">Pacific/Auckland</option>
        </select>
        <label for="year">Year</label>
        <input type="text" id="year" name="year" value="2024" disabled>
        <button type="submit">Generate</button>
    </form>
    <div class="loader" style="display: none;"></div>
    <div class="loading-text" style="display: none;">Loading data, please sit down and relax</div>
</body>
<script src="/static/js/loading.js"></script>

</html>